.hero {
    background-color: $backColor;
    padding: 100px 0 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero__image {
    margin: 50px 0;
    display: block;
    position: relative;
    max-width: 100%;

    &--img {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 200px;
        border: 10px solid $whiteColor;
        border-radius: 100%;;
    }
}

.hero__desc {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    margin: 35px 0;
    color: $primaryColor;

    &--title {
        margin-bottom: 10px;
        font-size: 80px;
        font-weight: 10px;
        letter-spacing: 1px;
        line-height: 100px;
        text-transform: uppercase;
    }

    &--paragraph {
        margin: 10px 0 75px 0;
        font-size: 40px;
        font-weight: 5px;
        letter-spacing: 5px;
        line-height: 35px;
        text-transform: uppercase;
    }
}