/* Ini adalah file main.scss yang akan menjadi tempat menulis styling */
@import 'parts/header';
@import 'parts/home';
@import 'parts/portfolio';
@import 'parts/contact';
@import 'parts/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.25s ease;
}

ol, ul {
    list-style: none;
}

hr {
    position: relative;
}