@import 'variables';
@import 'fonts';


@mixin fieldinput {
        border: 1px solid $secondaryColor;
        border-radius: 10px;
        width: 400px;
        height: 50px;
        padding-left: 20px;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        color: $primaryColor;
}

@mixin fieldaction {
        border: 1px solid $secondaryColor;
        border-radius: 10px;
        width: 180px;
        height: 50px;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        color: $primaryColor;
}

@mixin bgcontact {
        background-attachment: scroll;
        background-image: linear-gradient(to top, rgba(235,235,235,0.788), rgba(235,235,235,0.788)), url(../images/bgcontact.jpeg);
        background-position: 0% 0%, bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $whiteColor;
}