$primaryColor : #646669;
$secondaryColor : #979ba1;
$contactColor : #2e2e2e;
$hoverColor : rgb(50, 104, 221);
$backColor: rgba(187,187,201,0.2);
$backContact: rgba(187, 187, 201, 0.75);
$cardColor: rgba(215, 215, 215, 0.5);
$cardShadow: #cbced1;
$whiteColor: #fff;
$colorReset: #eb3941;
$hoverReset: #e2373f;
$colorSubmit: #29323c;
$hoverSubmit: #4e4376;
$levelLow: #009d29;
$levelMid: #1372b6;
$levelHigh: #e35026;