<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main id="home" class="home">
  <section class="hero">
    <div class="hero__image">
      <img class="hero__image--img" src="../public/assets/images/profile.jpg" alt="wisnu foto">
    </div>
    <div class="hero__desc">
      <h1 class="hero__desc--title">wisnu s putra</h1>
      <p class="hero__desc--paragraph">junior frontend developer</p>
    </div>
  </section>
</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->