
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

<footer id="footer" class="footer">
  <nav class="footer__socialmedia">
      <ul class="footer__socialmedia--links">
          <li>
              <a href="http://facebook.com/hendrosetwn" target="_blank"><img src="../assets/images/facebook.svg" alt="facebook"></a>
          </li>
          <li>
              <a href="http://github.com/hendrosetwn" target="_blank"><img src="../assets/images/github.svg" alt="github"></a>
          </li>
          <li>
              <a href="http://instagram.com/hendrosetwn" target="_blank"><img src="../assets/images/instagram.svg" alt="instagram"></a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/hendro-setiawan-027835165/" target="_blank"><img src="../assets/images/linkedin.svg" alt="linkedin"></a>
          </li>
          <li>
              <a href="http://twitter.com/hendrosetwn" target="_blank"><img src="../assets/images/twitter.svg" alt="twitter"></a>
          </li>     
      </ul>
  </nav>
  <p class="footer__copyright">&copy;2022 hendrosetwn. All right reserved</p>
</footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->